@use '../Variables/Variables' as *;

.navigation{
    padding: 25px 0;
    width: 65%;
    margin: auto;
    overflow-x: hidden;
    .nav-link{
        color: $TextColor;
        text-align: end;
        transition: 0.5s ease;
        &:hover{
            color: $MainColor;
        }
    }
}