@use './Variables/Variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $TextColor;
    font-family: Preahvihear;
  }
body{
    
    background-color: $BackgroundColor !important;
    overflow-x: hidden;

    
}
.hidden{
    opacity: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.mainContainer{
    width: 65%;
    margin: auto;
}

@media (max-width: 600px) {
    .main .img{
        display: none;
    }
        .cardd-img{
            margin-top: 20px;
            padding: 0 !important;
            height: auto !important;
        }
        .porfolio .cardd-img .project .projectInner{
            height: auto !important;
        }
        .main .personalInfo h2{
            font-size: 20px !important;
        }
        .main .personalInfo p{
            font-size: 16px !important;
        }
        .main .personalInfo h4{
            font-size: 16px !important;
        }
        .main .myName .info h5{
            margin-bottom: 30px !important;
        }
        .main .myName .info img{
            display: none;
        }
        .mainContainer, .navigation{
            width: 85% !important;
        }
        .row>*{
            width: auto !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .education{
            background-image: none !important;
        }
        .education, .porfolio{
            padding: 30px 0 !important;
        }
        .contact{
            padding: 0 !important;
            padding-bottom: 15px !important;
        }
        .education .cardInfo{
            padding: 5px 10px !important;
            height: auto !important;
            align-items: center !important;
            justify-content: space-between !important;
            background-color: #2b0b3a;
        }
        .education .cardInfo .card-img{
            width: 25% !important;
            margin-right: 25px;
        }
        .education .cardInfo .card-body{
            width: 75% !important;
        }
        .education .cardInfo .card-img img{
            width: 100% !important;
            height: 100% !important;
        }
        .education .cardInfo .card-body p{
            margin-bottom: 0 !important;
        }
        .porfolio .cardd-info .desc{
            padding: 20px 15px !important;
        }
        .porfolio .container{
            width: 85%;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .nav-item{
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
        .main .myName .info h1{
            font-size: 30px !important;
        }
        .porfolio .cardd-info a{
            margin-bottom: 20px !important;
        }
        .porfolio .cardd-info .desc{
            margin-bottom: 5px !important;
        }
        .porfolio .col-lg-7, .porfolio .cardd-img, .projectInner, .projectInner img{
            width: 100% !important;
        }
        .main .container{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
  }